.calculator-buttons{
  display: grid;
  grid-template-columns: 60px 60px 60px 60px;
  column-gap: 10px;
  row-gap: 16px;
}

.calculator-buttons button{
  height: 60px;
  width: 60px;
  border-radius: 30px;
  font-size: 26px;
  border: 0;
}

.calculator-buttons .numbers{
  background-color: rgb(64, 64, 64);
  color: white;
  
}
.calculator-buttons .operation{
  background-color: rgb(174, 173, 173);
}
.calculator-buttons .equals{
  background-color: rgb(79, 192, 18);
  color: white;
}

.clear{
  background-color: rgb(174, 173, 173);
  font-size: 17px;
  border-radius: 15px;
  width: 75px;
  height: 45px;
  margin-top: 16px;
  margin-right: 10px;
  border: 0;
}

.js-expression{
  font-size: 48px;
  margin-top: 15px;
  margin-bottom: 15px;
}

body{
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 15px;
}